New folder/data/*.txt
New folder/data/*.csv
New folder/*
elope-main/*
GWAS_DHs_landraces/
model_comparision/reformat_biomass*
model_comparision/biomass_average_based_on_genotype.csv
model_comparision/eploe_*
model_comparision/data/simulated_data/fixed_Max_range_of_parameters/plot/*Input_X
model_comparision/data/simulated_data/simulated_from_elope_data_120_no_gene_effect/plot/*Input_X
model_comparision/data/simulated_data/simulated_from_elope_data_120_no_gene_effect/plot/*.pt
model_comparision/data/simulated_data/fixed_Max_range_of_parameters/plot/*.pt
model_comparision/data/simulated_data/simulated_from_elope_data_120_no_gene_effect/plot/*Input_X
model_comparision/data/simulated_data/simulated_with_different_gene_type/plot/*_Input_X